@font-face{
	font-family: poppins;
	src:url(poppins/poppins-regular.ttf);
}
@font-face{
	font-family: poppinsbold;
	src:url(poppins/poppins-bold.ttf);
}

.synne p {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: justify;
  line-height: 28px;
  position: absolute;
  bottom: 0;
  margin: 0;
}
.synne img:hover {
	opacity: 0.7;
}
header {
	background-color: #8585ad;
	text-align: center;
}
h1 {
	color: white;
	font-family: Copperplate,"Copperplate Gothic Light",fantasy;
	font-size: 45px;
	padding-top: 30px;
	padding-bottom: 30px;
	letter-spacing: 5px;
}
body {
	background-color: #e0e0eb;
}
.logo {
	border-style: double none;
	border-width: 5px;
	border-color: black;
	text-align: center
}
p {
	font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
}
address {
	font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
}
.pizza {
	font-family: poppins;
	font-size:16px;
}
.price {
	padding-left: 40px;
}
h3 {
	font-family: poppins;
	font-size: 25px;
	border-style: solid none;
	border-width: 1px;
	padding-left:10px;
}
.toppings {
	padding-left: 40px;
}
.GTK {
	padding-left: 35px;
	padding-right: 50px;
}








