@font-face{
	font-family: poppins;
	src:url(poppins/poppins-regular.ttf);
}
@font-face{
	font-family: poppinsbold;
	src:url(poppins/poppins-bold.ttf);
}
header {
	background-color: #8585ad;
	text-align: center;
}
h1 {
	color: white;
	font-family: Copperplate,"Copperplate Gothic Light",fantasy;
	font-size: 45px;
	padding-top: 30px;
	letter-spacing: 5px;
}
.logo h2 {
	color: white;
	font-family: Copperplate,"Copperplate Gothic Light",fantasy;
	font-size: 28px;
	padding-bottom: 30px;
	letter-spacing: 5px;
}
#welcome {
	margin-top: 30px;
}
h2 {
	font-family: poppins;
	font-size: 22px;
}
h3 {
	font-family: poppins;
	font-size: 25px;
	border-style: solid none;
	border-width: 1px;
	padding-left:10px;
}
h4 {
	text-decoration: underline;
}
p {
	font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
}
.synne p {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: justify;
  line-height: 28px;
  position: absolute;
  bottom: 0;
  margin: 0;
}
a {
  color: white;
}
body {
	background-color: #e0e0eb;
}
.logo {
	border-style: double none;
	border-width: 5px;
	border-color: black;
	text-align: center;
}

.nav {
	background-color: rgba(150, 150, 150, 0.5);
}
.nav li {
    display:block;
    float:left;
    width: 25%;
    padding-right: 30px;
    text-align: center;
}
.nav li a {
    display:block;
    text-align: center;
}
#welcome {
	text-align: center;
}
.synne img:hover {
	opacity: 0.7;
}
address {
	font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
}
.pizza {
	font-family: poppins;
	font-size:16px;
	padding-left: 10px;
}
.price {
	padding-left: 40px;
}
.toppings {
	padding-left: 40px;
}
.GTK {
	padding-left: 35px;
	padding-right: 50px;
	font-family: poppins;
}
.salads {
	font-family: poppins;
	font-size: 16px;
	padding-left: 10px;
}
.francie ul {
	list-style-type: none;
}
.francie li {
	margin-bottom: 5px;
}
.drinks {
	font-family: poppins;
	font-size: 16px;
	padding-left: 10px;
}

.drinktitle {
	font-size: 20px;
	text-decoration: underline;
	text-align: left;

}
.drinkdetailtitle {
	font-size: 20px;
	text-decoration: underline;
	padding-left: 40px;
	text-align: left;
}
.drinkdetail{
	text-align: left;
	vertical-align: top;
	padding-left: 40px;
}
.mission {
    text-align: center;
    background-color: rgba(32, 35, 41, 0.9);
    font-color:#ddd;
    padding-bottom: 40px;
}
.mc_merge_var {
  text-align: center;
  display: inline-block;
}
.mc_signup_submit {
   text-align: center;
   display: inline-block;
}
.container {
  font-size: 20px;
  max-width:1200px;
  margin: 0 auto;
  text-align: center;
}
.btn-twitter {
	background-color: #00acee;
	border-color: #009ad5; 
}
.btn-facebook {
 	background-color: #4868ac; 
 	border-color: #314776;
}
.btn-pinterest {
	background-color: #b62f26;
	border-color: #b62f26
}
.footer__legal{
   text-align: center;
   padding-top: 10px;
   padding-bottom: 5px;
}
.carousel-inner img {
	height: 50px;
}
#myCarousel{
	margin-right: 100px;
	margin-left: 100px;
	margin-top: 40px;
}

.imgpizza { 
	float: right;
	float: top;
	opacity: 0.75;
	height: auto;
	width: auto;
	max-height:380px;
	margin-right: 40px;
} 
.saladtable{
	margin-top: 30px;
	margin-bottom: 75px;
}
.imgsalad {	
	float: right;
	float: top;
	position: relative;
	opacity: 0.7;
	height: auto;
	width: auto;
	max-height:225px;
	max-width: 225px;
	margin-right: 40px;
}
.imgdrinks{
	float: right;
	float: top;
	opacity: 0.75;
	height: auto;
	width: auto;
	max-height:450px;
	margin-right: 40px;
	margin-top: 35px;
}
.imgGTK{
	float: right;
	float: top;
	opacity: 0.75;
	height: auto;
	width: auto;
	max-height: 400px;
	margin-right: 40px;
	margin-top: 30px;
	margin-left: 30px;
}
.nav-tabs{
	font-family: poppins;
	font-size: 13px;
}
.reviews {
	margin-top: 30px;
	margin-bottom: 50px;
}
.row {
	margin-top: 40px;
}
#social-buttons {
	padding-right: 70px;
	display: inline-block;
}
#socialmedia {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}
.btn-success {
	background-color: rgba(150, 150, 150, 1);
	border-color: rgba(100, 100, 100, 1);
}
